{% extends 'layout.html.twig' %}

{% block title %}
	Accueil | Le temps des loisirs
{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
	<link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/previousWeek.css">
{% endblock %}

{% block content %}
	<main>

		<div class="hero-image p-0">
			<div class="hero-text">
				<h1 class="h1 display-3 mt-5-xl">YUMMY MARS</h1>
				<p class="lead">Votre bibliothèque de recette marsienne</p>
			</div>
		</div>

		<section class="lastInfos container">
			<div class="row d-flex justify-content-center">

				<div class="card text-center">
                    <h2 class="text-center fw-bold">Menu du Jour</h2>
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="/recipes/index" class="btn btn-primary w-50 me-1">Go Week Menu</a>
					</div>
				</div>
			</div>
		</section>
        <section class="previousWeek">
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Monday</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ tests.meals.0.strMeal }}</h5>
                        <p class="card-text">{{ tests.meals.0.strInstructions}}</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Tuesday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Wednesday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Thursday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Friday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Saturday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text"<link rel="stylesheet" href="/assets/css/previousWeek.css">>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Sunday</div>
                    <div class="card-body">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </section>
	</main>
   
{% endblock %}
