{% extends 'layout.html.twig' %}

{% block title %}
	Accueil | MARS 2112
{% endblock %}

{% block stylesheet %}

	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/admin.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/previousWeek.css">
{% endblock %}

{% block content %}
	<main>

		<div class="hero-image p-0">
			<div class="hero-text">
				<h1 class="h1 display-3 mt-5-xl">WELCOME TO</h1>
			</div>
		</div>


		<section class="lastInfos pt-5 container">

			<div class="row d-flex justify-content-center">

				<div class=" col-10 card gradient shadow text-center">
					<h2 class="text-center fw-bold">Menu of the day</h2>
					<div class="card-body">
						<div class="col">
							<div class="card gradient shadow text-white bg-success mb-3">
								<div class="card-header fw-bold inVgradient d-flex justify-content-center">
									<i class="bi bi-calendar"></i>
								</i>
								&nbsp;Wednesday</div>
							<div class="d-flex justify-content-center p-3">
								<img src="{{ wednesday.meals.0.strMealThumb }}" width="100px" class="card-img-thumb" alt="...">
							</div>
							<div class="card-body">
								<h5 class="card-title fw-bold">
									<i class="bi bi-egg-fried"></i>
									{{ "Robot-made " ~  wednesday.meals.0.strMeal }}</h5>
								<p class="card-text">{{ wednesday.meals.0.strInstructions }}</p>
							</div>
						</div>
					</div>
					<a href="/recipes/index" class="btn btn-warning w-50 me-1 border-0">Go to the Week Menu</a>
				</div>
			</div>

		</section>

		<section class="previousWeek mars">
			{% include "includes/_previousWeek.html.twig" %}
		</section>

	</main>
{% endblock %}
