@import 'admin.css';

label {
    color: var(--dark-color);
    font-weight: 600;
}

.map {
    color: var(--white-color);
    background-image: url("/assets/images/mars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 60vh;
    align-items: start;
}

.marker {
    height: 5vh;
    width: 7%;
}