@import 'style.css';

.navbar {  
    background-image :url("/assets/images/headermars.png");
    background-repeat: no-repeat;
    background-position-y: -175px;
    background-size: 100% 27vh;
    object-fit: contain;
    border-bottom: 1px solid #efa067;
}

.navbar-brand {
    font-family: var(--title-font);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-color);
    filter: brightness(120%);
}

.nav-link {
    font-family: var(--text-font);
    text-transform: uppercase;
    font-weight: 650;
    color: var(--secondary-color);
}

.nav-link:hover {
    color: var(--light-color);
    filter: brightness(90%);
}

.nav-link:active {
    color: var(--light-color);
    filter: brightness(130%);
}

.navbar-toggler {
    border: none;
}