@import 'style.css';

.previousWeek .card{
    
   
}  
.previousWeek .card-title{
    color: white;
}
.previousWeek p{
    color: white;

    text-align: center;
}
.previousWeek .card-header{
    text-align: center;
    color: black;
    font-weight: bolder;

}
.previousWeek h5{
    text-align: center;
    color: white;
    

}
.bg-success {
    background-color: var(--secondary-color) !important;
}
