@import 'style.css';

.previousWeek .card{
    height: 330px;
}  
.previousWeek h1{
    color: white;
    font-weight: bolder;
    padding-top: 20px;
}  
.previousWeek .card-title{
    color: white;
    font-weight: bolder;
}
.previousWeek .card-text{
    color: black;

    text-align: center;
}
.previousWeek .card-header{
    text-align: center;
    color: black;
    font-weight: bolder;

}
.previousWeek h5{
    text-align: center;
    color: white;
    

}
.bg-success {
    background-color: var(--secondary-color) !important;
}
.previousWeek .btn-warning{
    
    background-image :url("/assets/images/footermars.png");
    background-position-x: -150px;
    background-position-y: -150px;
    color: white;
    font-weight: bolder;
}
