.previousWeek .card{
    
  max-height: 220px;
}  
.previousWeek .card-title{
    color: white;
}
.previousWeek li{
    color: white;
    list-style: none;
    text-align: center;
}
.previousWeek .card-header,h5{
    text-align: center;
}
