@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --primary-color: #8b5528;
  --secondary-color: #c26060;
  --danger-color: #c26060;
  --light-color: #faffff;
  --dark-color: #595959;
  --grey-color: #c4c4c4;
  --page-color: #e5e5e5;
  --white-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.2);

  --text-font: 'Open Sans', sans-serif;
  --title-font: 'Simonetta', cursive;

  --title-size: 2.3em;
  --primary-spacing: 8px;
  --secondary-spacing: 16px;
  --third-spacing: 24px;
}

body {
  background-image :url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
  font-family: var(--text-font);
  background-attachment: fixed;
  scroll-behavior: smooth;
}
.shadow {
  border: 0.5px solid #fff;
  -moz-box-shadow: 5px 5px 12px #aaa; 
  -webkit-box-shadow: 5px 5px 12px #aaa; 
  box-shadow: 3px 3px 3px rgb(173, 173, 173) !important; 
}
.h1 {
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}

.gradient{
  background: linear-gradient(
      360deg,
      var(--primary-color) 0%,
      var(--secondary-color) 100%
  );
}
.inVgradient{
  background: linear-gradient(
      360deg,
      var(--secondary-color) 0%,
      var(--primary-color) 100%
  );
}
.mars{
  background-image :url("/assets/images/mars.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 300px;
  background-position-y: 350px;
}
.marslogo{
  background-image :url("https://cdn.imgbin.com/10/7/15/imgbin-exoplanet-bonbon-chocolate-mars-planet-6a7qxgzqYRNDNK64NTLG78A7W.jpg");
  background-repeat: no-repeat;
}

.marsheader{
  background-image :url("/assets/images/headermars.png");
  background-repeat: no-repeat;
  background-position-y: 300px;
  background-size: 100% 27vh;
  object-fit: contain;
  border-bottom: 1px solid white;
}

.marsfooter{
  background-image :url("/assets/images/footermars.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 27vh;
  object-fit: contain;
}
.card {
  opacity: 0.8;
}