{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/footer.css">
	<link rel="stylesheet" href="/assets/css/navbar.css">
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

<footer class="lol">
	<div class="row marsfooter text-center g-0">
		<div class="col-sm">
			<p class="fw-bold text-uppercase footerLogo mt-5 p-4 text-light"><i class="bi bi-circle-half"></i> YUMMY MARS</p>

		</div>

		<div class="col-sm">
			<p class="text-center text-light fw-bold text-uppercase">Contactez-nous:</p>
			<p class="text-light fw-bold">
				Mars</p>
			<p class="text-light fw-bold">yummymars@orange.fr</p>
			<p class="text-light fw-bold">+33 01 02 03 04 05</p>
		</div>

		<div class="col-sm">
			<ul class="nav flex-column ">
				<li class="nav-item">
					<a class="nav-link active" href="/Home/index">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/recipe">Recette de la semaine</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Contact/index">Contact</a>
				</li>
			</ul>
		</div>
	
	<div class="text-center p-3 text-light footerCopyright">
		©<span class="fw-bold">
			{{ "now"|date("Y") }}
			Copyright</span>
		- Aucune reproduction admise de ce site et de l'ensemble de son contenu.
	</div>
    </div>
</footer>
